.table {
  border-collapse: collapse;
  width: 100%;
  min-width: 300px;

  &__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #adadad;
    border-top: 1px solid #adadad;
    background: #fafbfc;
    font-weight: bold;
    padding: .625rem;

    &:first-child::after {
      content: '';
    }
  }

  &__row {
    border-bottom: 1px solid #adadad;
    padding: .35rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
  }

  &__btn-primary {
    margin-top: 10px;
  }
}

