.table {
  border-collapse: collapse;
  width: 100%;
  min-width: 300px;
}

.table__title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #adadad;
  padding: .35rem;
  border-top: 1px solid #adadad;
  background: #fafbfc;
  font-weight: bold;
  padding: .625rem;
}

.table__title:first-child::after {
  content: '';
}

.table__row {
  border-bottom: 1px solid #adadad;
  padding: .35rem;
  display: flex;
  justify-content: space-between;
}

